In [23]:
import pandas as pd 
import requests as req
import json 


import warnings 
warnings.filterwarnings('ignore')

data = pd.read_csv('books.csv') # converting our data into a dataframe

In [22]:
print("The Perfect Book List \n ")

print("Lucky outputs random book list")
print("Search allows you to search our libary for specific books")
print('Tailored outputs book list based on your responses \n')

start_search = input("Enter Lucky, Search or Tailored:").upper()

if start_search == "LUCKY":
    data = pd.read_csv('books.csv') # converting our data into a dataframe
data.sample(10)

The Perfect Book List

Lucky outputs random book list
Search allows you to search our libary for specific books
Tailored outputs book list based on your responses

Enter Lucky, Search or Tailored:lucky

,Title,Author,Genre,PAges,Rating,Publisher
427,"Fullmetal Alchemist, Vol. 11 (Fullmetal Alchem...",Hiromu Arakawa,Anime,192,4.59,VIZ Media LLC
668,"The Viscount Who Loved Me (Bridgertons, #2)",Julia Quinn,Romance,354,4.19,Avon
436,"東京喰種トーキョーグール 3 [Tokyo Guru 3] (Tokyo Ghoul, #3)",Sui Ishida,Anime,192,4.43,集英社
259,The Man Who Made Vermeers: Unvarnishing the Le...,Jonathan Lopez,Art,340,3.75,"Harcourt, Inc."
188,The Professor and the Madman: A Tale of Murder...,Simon Winchester,Biography,242,3.84,Harper Perennial
244,Wreck This Journal,Keri Smith,Art,192,4.16,Perigee Trade
800,Paradise Lost,John Milton,Romance,453,3.81,Penguin Classics
289,Art Matters,Neil Gaiman,Art,112,4.20,Headline
194,Born Standing Up: A Comic's Life,Steve Martin,Biography,207,3.87,Scribner Book Company
218,Born a Crime: Stories From a South African Chi...,Trevor Noah,Biography,304,4.45,Doubleday Canada