In [17]:
import pandas as pd 
import requests as req
import json 


import warnings 
warnings.filterwarnings('ignore')

data = pd.read_csv('books.csv') # converting our data into a dataframe

In [37]:
print("The Perfect Book List \n ")

print("Lucky outputs random book list")
print("Search allows you to search our libary for specific books")
print('Tailored outputs book list based on your responses \n')

start_search = input("Enter Lucky, Search or Tailored:").upper()

if start_search == "LUCKY":
    print(data.sample(3)) # won't print out in a dataframe why? 
else:
    print('okay')

    
sample

The Perfect Book List

Lucky outputs random book list
Search allows you to search our libary for specific books
Tailored outputs book list based on your responses

Enter Lucky, Search or Tailored:search
okay

,Title,Author,Genre,PAges,Rating,Publisher
589,"When He Was Wicked (Bridgertons, #6)",Julia Quinn,Romance,368,4.03,Avon
110,"Anne of Green Gables (Anne of Green Gables, #1)",L.M. Montgomery,Children,320,4.24,Signet Book
621,"The Next Always (Inn BoonsBoro, #1)",Nora Roberts,Romance,352,4.11,Brilliance Audio

In [ ]:
start_search = input("Enter Lucky, Search or Tailored:").upper()

if start_search == "LUCKY":
    print(data.sample(3)) # won't print out in a dataframe why? 
    
    
elif start_search == "Search":
    book = input("Enter title of book:")

In [38]:

def sample_output(start_search):

    if start_search == "LUCKY":
        a = data.sample(3) # won't print out in a dataframe why? 
    else:
        print('okay')

    return (a)

In [39]:
start_search = input("Enter Lucky, Search or Tailored:").upper()
sample_output(start_search)

Enter Lucky, Search or Tailored:lucky

,Title,Author,Genre,PAges,Rating,Publisher
80,"The Silver Chair (Chronicles of Narnia, #4)",C.S. Lewis,Children,243,3.96,HarperCollins
685,"Beautiful Creatures (Caster Chronicles, #1)",Kami Garcia,Romance,563,3.76,"Little, Brown and Company"
448,"Fullmetal Alchemist, Vol. 7 (Fullmetal Alchemi...",Hiromu Arakawa,Anime,200,4.57,VIZ Media LLC